html, body, canvas {
  margin: 0;
  padding: 0;
  border: 0;
  position: relative;
  font-family: 'Roboto', sans-serif;
}

canvas { 
  display: block; 
}

.game-buttons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn {
  background-color: none;
  font-size: 40px;
  
}

.score {
 font-size: 40px;
 position: absolute;
 width: 350px;
 height: 45px;
 padding: 0 10px;
 background-color: rgb(227, 204, 175);
 border-radius: 3px;
 border: 1px solid rgb(166, 165, 165);
 box-shadow: 0px 0px 5px 0px rgba(66, 68, 90, 1);
 display: flex;
}

.score.player-score {
  bottom: 10px;
  right: 10px;
}

.score.opponent-score {
  top: 10px;
  left: 10px;
}

#opponent-turn-info {
  position: absolute;
  top: 10px;
  right: 30px;
  font-size: 30px;
}

#opponent-turn-info:after {
  content: ' .';
  animation: dots 1s steps(5, end) infinite;
}

@keyframes dots {
  0%, 20% {
    color: rgba(0,0,0,0);
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);
  }

  40% {
    color: black;
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);
  }
  60% {
    text-shadow:
      .25em 0 0 black,
      .5em 0 0 rgba(0,0,0,0);
  }

  80%, 100% {
    text-shadow:
      .25em 0 0 black,
      .5em 0 0 black;}
  }